
<div >
  <label> Имя
    <input type="text"
           class="form-control"
           placeholder="введите имя"
    [(ngModel)]="user.name">
  </label>
  <label> Фамилия
    <input type="text"
           class="form-control"
           placeholder="введите фамилию"
    [(ngModel)]="user.surname">
  </label>
  <label> Адрес
    <input type="text"
           class="form-control"
           placeholder="введите адрес"
    [(ngModel)]="user.city">
  </label>
  <label> Идентификационный номер
    <input type="text"
           class="form-control"
           placeholder="введите ID"
    [(ngModel)]="user.id">
  </label>

  <button class="btn" (click)="addNewUser()">Добавить пользователя</button>



</div>
